<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row col-9">
            <div class="form-group col-md-6">
                <label for="input_country">Old password</label>
                {{ items.old_password }}
            </div>
            <div class="form-group col-md-6">
                <label for="input_city">New password</label>
                {{ items.new_password1 }}
            </div>
            <div class="form-group col-md-6">
                <label for="input_country">Password confirmation</label>
                {{ items.new_password2 }}
            </div>

        </div>
        <div class="modal-footer col-9">
            <input id="submit" type="button" value="submit">
        </div>

    </form>
</div>
<script>
    function getCookie(cname) {
        const name = cname + "=";
        const ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1);
            if (c.indexOf(name) === 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    $("#submit").click(function () {
        let old=$(`#id_old_password`).val()
        let new1=$(`#id_new_password1`).val()
        let new2=$(`#id_new_password2`).val()
        $.ajax({
            type: "POST",
            data: {
                'old_password':old,
                'new_password1':new1,
                'new_password2':new2,
            },
            headers: {'X-CSRFToken': getCookie('csrftoken')},
            url: '{% url 'password' %}',
            success: function (response) {
                console.log('done')
            },
            error: function () {
                console.log('nop')
            }
        })
    });

</script>