{% extends 'base/_base.html' %}
{% load static %}
{% block title %}
    SignUp
{% endblock %}
{% block body %}

    <link rel="stylesheet" href="{% static 'CSS/reg_login.css' %}">
    {% for error in form.errors.values %}
        <h5 class="bg-danger text-center">{{ error }}</h5>
    {% endfor %}
    <div class="form">

        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up</h1>
                {% if not status %}

                    <br>
                    {% for msg in messages %}
                        <p class="success-msg">{{ msg }}</p>
                        <script>
                            function redirect() {
                                window.location.href = "{% url "customer_login" %}";
                            }

                            setTimeout(redirect, 3000);
                        </script>
                    {% endfor %}


                    <form action="{% url 'customer_signup' %}" method="post" name="signup">
                        {% csrf_token %}
                        {##}
                        {#          <div class="top-row">#}
                        {#            <div class="field-wrap">#}
                        {#              <label>#}
                        {#                Phone<span class="req">*</span>#}
                        {#              </label>#}
                        {#              {{ form.phone }}#}
                        {#            </div>#}
                        {##}
                        {#            <div class="field-wrap">#}
                        {#              <label>#}
                        {#                Last Name<span class="req">*</span>#}
                        {#              </label>#}
                        {#              <input type="text"required autocomplete="off"/>#}
                        {#            </div>#}
                        {#          </div>#}

                        <div class="field-wrap">
                            <label>
                                Phone Number<span class="req">*</span>
                            </label>
                            {{ signup_form.phone }}
                        </div>

                        <div class="field-wrap">
                            <label>
                                Set a Password<span class="req">*</span>
                            </label>
                            {{ signup_form.password1 }}
                        </div>


                        <div class="field-wrap">
                            <label>
                                Password Confirm<span class="req">*</span>
                            </label>
                            {{ signup_form.password2 }}
                        </div>

                        <button type="submit" class="button button-block" for="signup"/>
                        Get Started</button>
                    </form>

                {% else %}
                    <h1 class="error-msg">{{ status }}</h1>
                {% endif %}
            </div>
            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="{% url 'customer_login' %}" method="post">
                    {% csrf_token %}
                    <div class="field-wrap">
                        <label>
                            Phone<span class="req">*</span>
                        </label>
                        {{ login_form.username }}
                    </div>

                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        {#                        <input type="password" required autocomplete="off"/>#}
                        {{ login_form.password }}
                    </div>
                    {#                    <p class="forgot"><a href="#">Forgot Password?</a></p>#}
                    <button class="button button-block"/>
                    Log In</button>

                </form>

            </div>


        </div><!-- tab-content -->

    </div> <!-- /form -->
    <script src="{% static 'JS/reg_login.js' %}"></script>

{% endblock %}