{% extends 'base/_base.html' %}
{% load static %}
{% block extra %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'CSS/contact.css' %}">
{% endblock %}
{% block title %} ContactUs{% endblock %}
{% block body %}
    {#    <form method="POST" action="">#}
    {#        {% csrf_token %}#}
    {#        From:#}
    {#        {{ form.form_email }}#}
    {#        Subject:#}
    {#        {{ form.subject }}#}
    {#        Message:#}
    {#        {{ form.content }}#}
    {#        <input type="submit" value="Submit">#}
    {#    </form>#}
    <section class="ftco-section">
        <div class="container">
            {#			<div class="row justify-content-center">#}
            {#				<div class="col-md-6 text-center mb-5">#}
            {#					<h2 class="heading-section">Contact Us!</h2>#}
            {#				</div>#}
            {#			</div>#}
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters mb-5">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    {#									<h3 class="mb-4">Contact Us</h3>#}
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                        Your message was sent, thank you!
                                    </div>
                                    <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                        {% csrf_token %}
                                        <div class="row">
                                            {#											<div class="col-md-6">#}
                                            {#												<div class="form-group">#}
                                            {#													<label class="label" for="name">Full Name</label>#}
                                            {#													<input type="text" class="form-control" name="name" id="name" placeholder="Name">#}
                                            {#												</div>#}
                                            {#											</div>#}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="email">Email Address</label>
                                                    {{ form.form_email }}
                                                    {#													<input type="email" class="form-control" name="email" id="email" placeholder="Email">#}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="subject">Subject</label>
                                                    {{ form.subject }}
                                                    {#													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">#}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="#">Message</label>
                                                    {{ form.content }}
                                                    {#													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>#}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Send Message" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div id="map">
                                    {#                                    MAP HERE#}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Address:</span> Address HERE.... </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Phone:</span> <a href="tel://1234567920">+98 937 2650437</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Email:</span> <a href="mailto:django@gmail.com">django.m64@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Website</span> <a href="#">localhost.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#     <div id='map' class='map'></div>#}
    <div id="map-div"></div>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.13.0/maps/maps.css'/>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.13.0/maps/maps-web.min.js'></script>

    <script>
        // create the map
        tt.setProductInfo('Google Map', '1.0');
        let map = tt.map({
            key: 'uQInAdnkd8siEnOQdsXUcFi36iHwrgGF',
            container: 'map'
        });

        // add store markers
        let bounds = []
        let storeLocations = JSON.parse("{{ locations|escapejs }}");
        console.log(storeLocations[0])
        for (let storeLocation of storeLocations) {
            let coordinates = [storeLocation.longitude, storeLocation.latitude];
            bounds.push(coordinates);
            bounds.push(coordinates);


            // create popup to display store information when the marker is clicked
            let popup = new tt.Popup().setHTML(`
               <div class="locator-popup">
                   <h6>Store Name</h6>
                   <p>${storeLocation.name}</p>
                   <h6>Address</h6>
                   <p>${storeLocation.address}</p>
               </div>
           `);

            let marker = new tt.Marker()
                .setLngLat(coordinates)
                .setPopup(popup)
                .addTo(map);
        }

        // zoom the map to fit all markers
        {#map.on('load', () => {#}
        {#    console.log(bounds)#}
        {#map.zoom=1#}
        {#map.center= bounds[0]#}
        {#    map.fitBounds(bounds, {#}
        {#       padding: { top: 50, bottom:50, left: 50, right: 50 }#}
        {#   });#}
        {#       })#}
    </script>

{% endblock %}


